---
layout: wm-blog-home
title: Blog
description: "Describe this nonsense."
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="row">
    <div class="col-md-3 col-sm-12">
        <div class="listing-container">
            <a href="{{site.baseurl}}{{post.url}}">
                {% if post.image%}
                    <img class="blog-thumbnail-image" src="{{ post.image }}" alt="{{post.title}}"/>
                {% else %}
                    <img class="blog-thumbnail-image" src="/img/banner/banner.jpg" alt="{{post.title}}"/>
                {% endif %}
            </a>
        </div>
    </div>

    <div class="col-md-9 col-sm-12">
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <p>
            {% for category in post.categories %}
                <a href="#">{{ category }}</a>
            {% endfor %}
        </p>
        <p class="author">
            <span class="date">{{ post.date | date: "%-d %B, %Y"}}</span>
        </p>
        <div class="content">
            {{ post.excerpt }}
        </div>
    </div>
</div>
<div class="row">
        <hr/>
</div>
{% endfor %}


<!-- Pagination links -->
<div class="pagination">
{% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
{% else %}
    <span class="previous">Previous</span>
{% endif %}
<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
{% else %}
    <span class="next ">Next</span>
{% endif %}
</div>

   